## Checks generiques pour des hotes/services externes (internet public)
define command {
    command_name    check_http_public
    command_line    $NAGIOSPLUGINSDIR$/check_http -H $HOSTADDRESS$ -I $HOSTADDRESS$
}
define command {
    command_name    check_https_public
    command_line    $NAGIOSPLUGINSDIR$/check_http -H $HOSTADDRESS$ -I $HOSTADDRESS$ -S -p 443
}
define command {
    command_name    check_ssh_public
    command_line    $NAGIOSPLUGINSDIR$/check_ssh $HOSTADDRESS$
}
