# Services associes aux hotes externes de internet-fun.cfg

define service{
        use                     generic-service
        host_name               google.fr
        service_description     HTTP
        check_command           check_http_public
        }

define service{
        use                     generic-service
        host_name               google.fr
        service_description     HTTPS
        check_command           check_https_public
        }

define service{
        use                     generic-service
        host_name               github.com
        service_description     HTTPS
        check_command           check_https_public
        }

define service{
        use                     generic-service
        host_name               github.com
        service_description     SSH
        check_command           check_ssh_public
        }

define service{
        use                     generic-service
        host_name               anthropic.com
        service_description     HTTPS
        check_command           check_https_public
        }

define service{
        use                     generic-service
        host_name               cloudflare-dns
        service_description     DNS TCP
        check_command           check_tcp!53
        }
