## In this directory you can put all your specific service
# definitions

define service{
        use                     generic-service
        host_name               localhost
        service_description     Load
        check_command           check_local_load!5.0,4.0,3.0!10.0,8.0,6.0
        }

define service{
        use                     generic-service
        host_name               localhost
        service_description     Disk /
        check_command           check_local_disk!20%!10%!/
        }

define service{
        use                     generic-service
        host_name               localhost
        service_description     Users
        check_command           check_local_users!5!10
        }

define service{
        use                     generic-service
        host_name               localhost
        service_description     Broker WebUI
        check_command           check_local_http!broker!8080!/healthz
        }
